.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    height: 100vh;
    width: 100vw;
    background-color: #f4f4f4;
  }
  
  .login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  #logo-landscape {
    width: 200px;
    margin-bottom: 12px;
  }
  
  #recent-logins {
    color:var(--black);
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 200;
    color: var(--black);
  }

  #recent-logins-p {
    font-size: 15px;
    margin-bottom: 25px;
    color: gray;
  }

  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-size: 14px;
    color: var(--black);
    margin-bottom: 5px;
    display: block;
  }
  
  .input-group input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    color: rgb(65, 65, 65);
  }
  
  .input-group input:focus {
    border: 2px solid var(--black);
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }

  hr{
    margin-top: 15px;
    border: 0.4px solid rgba(128, 128, 128, 0.185);
  }
  
  .new-account-btn {
    margin-top: 20px;
    width: 50%;
    padding: 12px;
    background-color: var(--green);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .add-something-container {
    display: flex;
    gap: 10px;
    margin-bottom: 80px;
    
  }

  .add-account-box{
    background-color: var(--white);
    width: 150px;
    height: 180px;
    border-radius: 8px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--blue);
  }

  .add-account-box:hover{
    cursor: pointer;
  }

  .dp-container{
    display: flex;
    margin-bottom: 10px;
  }

  .dp-container > img {
    width: 148px;
    height: 140px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  #user-name{
    text-align: center;
    color:rgb(65, 64, 64);
  }