.channel-bar{
    background-color: var(--white);
    margin-left: 0;
    border: 0.5px solid hsla(0, 0%, 50%, 0.178);
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.channel-header, .dm-header {
    color: var(--charcoal-dark);
    padding: 8px;
    margin: 5px 5px;
    font-weight: 600;
}

.create-group-button {
    margin-top: 20px;
    margin-left: 35px;
    padding: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    
  }
  
  .create-group-button:hover {
    transition: background-color 0.5s ease;
    background-color: hsl(110, 63%, 34%);
  }

  .group-list{
    list-style-type: none;
    margin: 0;
  }
  .group-name {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
  }
  /* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  }
  
  .modal-content h3 {
    margin-top: 0;
    margin-bottom: 8px;
  }
  
  .enter-channel-name {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .user-list{
    padding: 10px;
    border-radius: 5px;
    height: 200px;
    overflow-x: scroll;
    
  }

  .user-list label {
    display: block;
    margin: 5px 8px;
  }

  .checkbox {
    margin-right: 10px;
  }
  
  .modal-buttons button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .modal-buttons button:first-of-type {
    background-color: #3498db;
    color: white;
  }
  
  .modal-buttons button:first-of-type:hover {
    background-color: #2980b9;
  }
  
  .modal-buttons button:last-of-type {
    background-color: #e74c3c;
    color: white;
  }
  
  .modal-buttons button:last-of-type:hover {
    background-color: #c0392b;
  }
  
 

  .group-list {
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
  }

  .group-list:hover{
    background-color: var(--gray_light);
  }
  
  .group-list h4 {
    margin: 0 0 10px 0;
  }

  .group-list ul {
    list-style: none;
    padding: 0;
  }
  
  .group-list ul li {
    margin-bottom: 8px;
  }

  .create-button{
    background-color: var(--blue_accent);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 35%;
  }

  .create-button:hover{
    background-color: hsl(217, 100%, 42%);
    transition: background-color 0.5s ease;
  }

  .cancel-button{
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    width: 35%;
  }

  .cancel-button:hover{
    background-color: hsl(0, 70%, 33%);
    transition: background-color 0.5s ease;
  }

  .group-window{
    flex:1;
    background-color: var(--white);
    border: 1px solid rgba(128, 128, 128, 0.253);
    padding: 15px;
    background-color: var(--gray_light);
  }

  .group-window > h3{
    margin: 10px 10px;
  }

  .message-list{
    background-color: var(--gray_light);
    flex:1;
    height: 73vh;
    padding: 15px;
  }

  .message-item{
    background-color: var(--blue_light);
    width: 40%;
    border-radius: 15px;
    height: 40px;
    padding: 10px;
  }

  .message-input {
     margin-top: 330px;
  }
  .message-input > input {
    border-radius: 5px;
    height: 40px;
    width: 70%;
    margin-top: 10px;
    border: 1px solid rgba(128, 128, 128, 0.267);
    padding: 8px;
    color: var(--black);
    font-size: 18px;
  }

  .message-input > button {
    border-radius: 10px;
    background-color: var(--blue_accent);
    border: 1px solid rgba(128, 128, 128, 0.267);
    padding: 5px;
    margin-left: 7px;
    color: var(--white);
    font-size: 18px;
  }

  .group-window > h3 {
    font-size: 25px;
  }

.userList-individual{
  border: 1px solid rgba(0, 0, 0, 0.096);
  border-radius: 5px;
  padding: 5px;
}

.userList-container{
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}