* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray_light: #f3f7f8;
  --gray_dark: hsl(214, 14%, 90%);
  --gray: hsl(0, 4%, 67%);
  --black: #333333;
  --green: hsl(110, 63%, 44%);
  --blue_accent: hsl(217, 90%, 61%);
  --blue_light:hsl(217, 100%, 87%);
  --sender:#0084FF;
  --receiver: #F0F0F0;
  --chat_bar: #F0F2F4;
  --red: #B82121;

}

