* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray_light: #f3f7f8;
  --gray_dark: #e3e6ea;
  --black: #333333;
  --green: #42b72a;
  --blue: #0866ff;
  --red: #B82121;
}

